.item-detail-container {
    padding: 20px;
    background-color: #fff; /* Color blanco */
    color: #7b4747; /* Color principal de texto */
    margin: 10px auto; /* Ajusta según tus necesidades */
}
 