.cart-button {
background-color: transparent; 
color: #ab8484; 
border: none; 
padding: 5px 10px; 
position: relative; 
}

.cart-button:hover {
background-color: #ab8484 !important;
color: white !important;
border-radius: 50%; 
}

.cart-icon {
font-size: 30px;
margin-right: 5px; 
}

.badge {
position: absolute;
top: 0;
right: 0;
transform: translate(50%, -50%);
font-size: 13px;
background-color:#ab8484; 
color: #fcfcfc; 
padding: 4px 8px; 
border-radius: 50%; 
}