
.item-container {
  margin: 10px; 
  height: 100%; 
  transition: transform 0.3s; 
  font-family: 'Arial', sans-serif; 
}

.card {
  border: 1px solid #e0e0e0; 
  border-radius: 5px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  height: 100%; 
  transition: transform 0.3s; 
}

.card-img-top {
  max-width: 100%;
  height: 100%; 
  object-fit: cover; 
  transition: transform 0.3s; 
}

.card-body {
  padding: 20px;
  text-align: center;
}

.card-text {
  font-weight: bold;
  color: #333;
  font-size: 1.2rem; 
}

.item-container:not(:last-child) {
  margin-bottom: 20px; 
}

.item-container:hover, .card:hover, .card-img-top:hover {
  transform: scale(1.05); 
}