/* NavBar.css */

/* Coontenedor del Navbar */
.navbar-container {
    height: 100px; 
    margin: 0 auto; 

}

/* Logo  */
.navbar-brand {
    font-size: 24px; 
    font-weight: bold; 
    color: #ab8484; 
}
.logo-img {
    width: 150px; 
    height: auto; 
    display: inline-block; 
    vertical-align: middle; 
}

/* Links NavBar */
.nav-link {
    font-size: 18px; 
    color: #b06f6f; 
    font-weight: bold;
    margin-right: 30px;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: rgb(120, 32, 32);
}

.nav-link:focus, .nav-link:hover {
    color: rgba(118, 100, 100, 0.82);
}

/*Responsive*/
@media (max-width: 768px) {
    .navbar-container {
        height: auto; 
        padding-top: 10px; 
    }

    .navbar-brand {
        font-size: 20px; 
    }

    .logo-img {
        width: 100px; 
    }

    .nav-link {
        font-size: 16px; 
        margin-right: 20px; 
    }

    .carrito-style {
        margin-right: 10px; 
    }
}