.item-count-container {
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-count-btn-group {
  margin-top: 10px;
}

.item-count-button {
  font-size: 1.2rem;
}

.item-count-button.btn-outline-primary {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
  margin: 5px;
}

.item-count-button.btn-outline-primary:hover {
  background-color: #0056b3;
  border: 1px solid #0056b3;
}

.item-count-add-cart-button {
  margin-top: 20px;
  font-size: 1.2rem;
  background-color: #28a745;
  color: #fff;
  border: 1px solid #28a745;
}

.item-count-add-cart-button:hover {
  background-color: #1e7e34;
  border: 1px solid #1e7e34;
}