/* ItemListContainer.css */

/* Estilos imagen */
.imagen-container {
    position: relative;
    width: 100%;
    max-height: 600px;
    overflow: hidden;
}
.imagen {
    width: 100%;
    height: auto;
}

/* Estilos del texto */
.texto-superpuesto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding: 20px;
    text-shadow: 8px 6px 12px rgba(0, 0, 0, 0.5);
}

.texto-superpuesto h1 {
    font-size: 50px;
}


@media (max-width: 768px) {
    .texto-superpuesto {
        max-width: 90%; /* Ajusta el ancho en pantallas más pequeñas */
        padding: 10px; /* Reduce el padding para dispositivos móviles */
    }

    .texto-superpuesto h1 {
        font-size: 36px; /* Reduce el tamaño de fuente en dispositivos móviles */
    }
}