.custom-h2 {
  font-size: 1.5rem;
  margin: 10px 0;
  color: #333;
}

.custom-p {
  margin: 10px 0;
  
  font-size: 1rem;
  
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
  color: #3b0521;
}

.stock {
  font-size: 1rem;
  color: #5b5e5c;
}