body {
background-color: #fff; 
font-family: 'Arial', sans-serif; 
}

form {
max-width: 600px;
margin: 20px auto;
border: 1px solid #ab8484; 
padding: 20px; 
border-radius: 8px; 
box-shadow: 0 0 10px rgba(120, 32, 32, 0.1);
}

.item-check {
display: flex;
justify-content: space-between;
margin-bottom: 10px;
color: #333; 
}

.item-check p {
margin: 0;
}

.form-group {
margin-bottom: 20px;
}

.lab-check {
display: block;
margin-bottom: 5px;
color: #ab8484; 
font-size: 16px; 
}

.input-check {
width: 100%;
padding: 10px;
border: 1px solid #ab8484; 
border-radius: 4px;
}

.error-campos {
color: rgb(120, 32, 32); 
font-size: 14px; 
margin-top: 10px; 
}

.orden {
color: #4caf50; 
text-align: center;
font-size: 18px;
margin-top: 20px; 
}
.checking {
text-align: center;
margin-top: 20px;
}

.check-bt {
background-color: #ab8484; 
color: #fff;
padding: 12px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
transition: background-color 0.3s;
font-size: 16px;
}

.check-bt:hover {
background-color: rgb(120, 32, 32); 
}

.back-to-home {
background-color: rgb(120, 32, 32); 
color: #fff; 
padding: 12px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
transition: background-color 0.3s;
margin-top: 20px; 
font-size: 16px; 
}

.back-to-home:hover {
background-color: #ab8484; 
}